body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-content {
    display: flex;
    padding-bottom: 60px;
    padding-top: 40px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
    padding-left: 5px;
}

.para {
    font-size: 20px;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#E67E22, #D35400);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.para1 {
    font-size: 20px;
    text-align: justify;
    padding-right: 5px;
}

.flexible-content1 {
    display: flex;
}